<div class="col-md-5 mx-auto my-4">

  <div class="alert alert-success" *ngIf="status == 'success'">
    El registro se ha completado satisfactoriamente, <a [routerLink]="['/login']">identificate aquí.</a>
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    El registro no se ha podia completar, pruebe mas tarde.
  </div>
  <div class="card">
    <div class="card-header text-center">
      <strong>{{title}}</strong>
    </div>
    <br>
    <div class="card card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
          <label class="form-label" for="name">Nombre</label>
          <input type="text" formControlName="name" class="form-control" required
                 [class.invalid]="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched) || isSubmitted">
        </div>
        <span style="color: red;"
              *ngIf="registerForm.get('username')?.hasError('required') && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched) || isSubmitted"
              class="error">Campo requerido melón.</span>
        <div class="form-group">
          <label class="form-label" for="surname">Apellidos</label>
          <input type="text" formControlName="surname" class="form-control"
                 [class.invalid]="registerForm.get('surname')?.invalid && (registerForm.get('surname')?.dirty || registerForm.get('surname')?.touched) || isSubmitted">
        </div>
        <div class="form-group">
          <label class="form-label" for="email">Email</label>
          <input type="text" formControlName="email" class="form-control" required
                 [class.invalid]="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched) || isSubmitted">
        </div>
        <span style="color: red;"
              *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched) || isSubmitted"
              class="error">Campo requerido melón.</span>
        <div class="form-group">
          <label class="form-label" for="password">Contraseña</label>
          <input type="password" formControlName="password" class="form-control"
                 required
                 [class.invalid]="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) || isSubmitted">
        </div>
        <span style="color: red;"
              *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) || isSubmitted"
              class="error">Campo requerido melón.</span>
        <br>
        <div class="card-footer">
          <input class="btn btn-success" type="submit" value="Registrarse">
        </div>
      </form>
    </div>
  </div>
</div>

